.cls-1,
.cls-2 {
    fill: none;
}

.cls-3 {
    font-family: Helvetica, Helvetica;
    font-size: 30px;
}

.cls-4 {
    clip-path: url(#clippath);
}

.cls-5 {
    mix-blend-mode: overlay;
    opacity: .56;
}

.cls-6 {
    fill: #693d2c;
}

.cls-7 {
    fill: #683726;
}

.cls-8 {
    fill: #f3d9b5;
}

.cls-9,
.cls-10 {
    fill: #fff;
}

.cls-11 {
    fill: #fbfeeb;
}

.cls-12 {
    fill: #efecec;
}

.cls-13 {
    fill: #7d4115;
}

.cls-14 {
    fill: #9f9aa1;
}

.cls-15 {
    fill: #304353;
}

.cls-16 {
    fill: #865038;
}

.cls-17 {
    fill: #ccc;
}

.cls-18 {
    fill: #c3d9cd;
}

.cls-19 {
    fill: #dbdbd7;
}

.cls-20 {
    fill: #424859;
}

.cls-21 {
    fill: #191d29;
}

.cls-22 {
    fill: #182e38;
}

.cls-23 {
    fill: #0a1318;
}

.cls-24 {
    fill: #1b2933;
}

.cls-25 {
    fill: #9baaa1;
}

.cls-26 {
    fill: #565b6f;
}

.cls-27 {
    fill: #284251;
}

.cls-28 {
    fill: #79757a;
}

.cls-29 {
    fill: #454c60;
}

.cls-30 {
    fill: #46080d;
}

.cls-31 {
    letter-spacing: 0em;
}

.cls-32 {
    mix-blend-mode: multiply;
}

.cls-33 {
    clip-path: url(#clippath-1);
}

.cls-34 {
    clip-path: url(#clippath-3);
}

.cls-35 {
    clip-path: url(#clippath-2);
}

.cls-36 {
    letter-spacing: -.07em;
}

.cls-37 {
    letter-spacing: -.05em;
}

.cls-2 {
    stroke: #0a1318;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: .47px;
}

.cls-38 {
    isolation: isolate;
}

.cls-39 {
    fill: url(#Degradado_sin_nombre_17-2);
}

.cls-40 {
    fill: url(#Degradado_sin_nombre_17);
}

.cls-41 {
    fill: url(#Degradado_sin_nombre_17-3);
    filter: url(#drop-shadow-2);
}

.cls-42 {
    letter-spacing: -.01em;
}

.cls-43 {
    fill: url(#Degradado_sin_nombre_17);
    filter: url(#drop-shadow-1);
}

.cls-10 {
    font-family: Helvetica-Bold, Helvetica;
    font-size: 110px;
}

#Botones {
    cursor: pointer;
  }